@color: #324057;

.placeholder(@color) {
    &::-webkit-input-placeholder {
        color: @color;
    }
    &::-moz-placeholder {
        color: @color;
    }
    &::-moz-placeholder {
      color: @color;
    }
}

html,body,.fillcontain {
    width: 100%;
    height: 100%;
}

html,body {
    background: @color;
}

// 隐藏滚动条
::-webkit-scrollbar  
{  
    display: none;
}  


input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}  

input{
    border: none;
    background: none;
    outline: none;
}
button{
    outline: none;
    padding: 0;
    border: none;
}

.el-row{
    height: 100%;
}

.el-col{
    height: 100%;
}

// 菜单
.menu .el-submenu__title {
    color: #bfcbd9;
}
.menu .el-submenu__title:hover {
    background-color: #48576a;
}
.menu .el-menu {
    background: #1f2d3d;
}
.menu .el-menu-item {
    color: #bfcbd9;
}
.menu .el-menu-item:hover {
    background-color: #48576a;
}
.menu .el-menu-item.is-active {
    color: #20a0ff;
    background: #1f2d3d;
}

// 面包屑
.el-breadcrumb__item:last-child .el-breadcrumb__inner{
    color: #97a8be;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover{
    color: #97a8be;
}
.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link{
    font-weight: 400;
    color: #606266;
}

// table样式
.table-container {
    padding: 20px;
    .el-table {
      border: 1px solid #ebeef5;
    }
    .el-table--fit {
      border-bottom: 0;
    }
}
// table展开样式
.el-table, .el-table__expanded-cell{
    background: #fbfdff;
}
.el-table, .el-table__expanded-cell:hover{
    background: #fbfdff!important;
}
.table-expand .el-form-item{
    width: 50%;
    margin-right: 0;
}


// dialog对话框样式
.dialog-container {
    /deep/ .el-dialog__body {
      padding: 30px 50px;
    }
    .el-form-item {
      display: flex;
      /deep/ .el-form-item__content {
        flex: 1;
      }
    }
    .img {
      width: 120px;
      height: 120px;
      border-radius: 6px;
      border: 1px dashed #ccc;
    }
    .img:hover {
      border: 1px dashed #20a0ff;
    }
  }
  // 上传图标样式
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    border-radius: 6px;
    border: 1px dashed #d9d9d9;
    &:hover {
      border-color: #409eff;
    }
  }
